.project
.includepath
.settings
.DS_Store
Kernel/Language/*.pm.old

# LIGEROCodePolicy
.tidyall.d
perltidy.LOG.old
bin/ligero.CodePolicy.pl
TidyAll
Kernel/cpan-lib/Pod/Strip.pm
scripts/install-git-hooks.pl
scripts/uninstall-git-hooks.pl
LIGEROCodePolicy*
